<div class="container contenedor">
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" *ngFor="let item of catalogo">
      <div class="card tarjeta" style="width: 20rem;">
        <img class="card-img-top IMG-THUMBNAIL" [src]="item.imagen" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Referencia : {{item.referencia}}</h4>
          <div><b class="texto">
              Colores disponibles
            </b>
          </div>
          <div class="card-text texto colores">
              {{item.descripcion}}
          </div>
          <div>
            <b class="texto">Precio :</b>
          </div>
          <div>
            <span class="texto"> {{item.precio}}</span>
          </div>
          <a [routerLink]="['/detalle', item.id, id]" class="btn btn-primary">Ver mas...</a>
        </div>
      </div>
    </div>
  </div>
</div>