<div class="container contenedor informacion">
    <div class="col-12">
        <p class="text-center titulo-informacion">NUESTRA HISTORIA</p>
    </div>
    <div class="col-12">
        <img src="../../assets/images/historia.png" class="center">
    </div>
    <div class="col-12 texto-informacion">
        <p>
            Somos Katherin Castellanos y Luz Stella Reyes fundadoras de Alaska Fashion Style queremos compartir nuestra
            historia de emprendimiento, 4 años atrás con las ganas de buscar opciones laborales, nos dimos cuenta que
            teníamos mucha afinidad por la moda, el estilo, los accesorios, por ese motivo empezamos a interesarnos por
            capacitarnos en estos temas, qué tendencias, diseños, estilos, estaban de moda y poco a poco fuimos
            avanzando
            en este maravilloso mundo hasta convertirse en nuestra pasión y encontramos nuestro propósito de crear
            empresa.

            ​

            Alaska Fashion Style nace innovando en sus diseños de bisutería y en prendas de vestir llamativas para
            nuestros
            clientes, quienes no conocen nuestra marca los invitamos a que nos visiten y conozcan un poco de ella,
            estamos
            seguras que nuestros productos les encantarán.

            ​

            Manejamos diseños hechos con materiales de la mejor calidad, estilos personalizados y también un catalogo
            de
            prendas de vestir. por medio de este bloc conocerás los diseños disponibles y te podrás poner en contacto
            con
            nosotras para hacer tu pedido, siempre contando con la mejor atención para que te sientas a gusto en
            ALASKA.
        </p>
    </div>
</div>