<div class="container contenedor detalle">
  <div class="row">
    <h1>
      Referencia: {{detalle.referencia}}
    </h1>
  </div>
  <div class="row">
    <img [src]="detalle.imagen">
  </div>
  <div class="row">
    <p class="precio">
      Precio de venta : {{detalle.precio}}
    </p>
  </div>
  <div class="row">
    <b>
      Colores disponibles:
    </b>
  </div>
  <div class="row">
    <p>
      {{detalle.descripcion}}
    </p>
  </div>
  <div class="row">
    <b>
        Tallas:
    </b>
  </div>
  <div class="row">
    <p>
       {{detalle.talla}}
    </p>
  </div>
  <div class="row">
      <b>
          Descripcion:
      </b>
    </div>
  <div class="row">
    <p>
       {{detalle.adicional}}
    </p>
  </div>
</div>